{% extends 'basic.html' %}
{%block title%}聚焦数据控制台{%endblock%}
{%block content%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">jujiaodata.com   数据详情</h1>
{#    <p class="lead">This is a mod.</p>#}
  </div>
</div>
<div class="body-select">
    <div class="tablelist">
        <a class="dropdown-item">YsArticle</a>
        <a class="dropdown-item">Logs</a>
    </div>
</div>
</div>
<div class = "query-body"></div>

<div id="footer">
    Copyright2018 聚焦数据.All Rights Reserved
</div>
<script type="text/javascript" src="/static/js/main.js"></script>
{%endblock%}